{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block carousel %}
{% endblock carousel %}

{% block link %}
    /
{% endblock link %}

{% block postactive %}
    
{% endblock postactive %}

{% block homeactive %}
    
{% endblock homeactive %}

{% block Heading %}
Chnage Password
{% endblock Heading %}

{% block body %}
      
<form method="POST" class="needs-validation col-lg-6 offset-lg-3" enctype="multipart/form-data">
    {% csrf_token %}
        {{form|crispy}}
        <input type='submit' class="btn btn-primary mb-3" value="Change Password"></input>
</form>
    {% endblock body %}